.app {
	background-color: #dadbd3;
	/* height: 100vh; */
	display: grid;
	place-items: center;
	/* margin: 1%; */
}

.app__body {
	background-color: #ededed;
	display: flex;
	/* height: 90vh;
	width: 90vw; */
	height: 100vh;
	width: 100vw;
	/* box-shadow: -1px 4px 20px -6px rgba(0, 0, 0); */
}
